html, body, #app {
  height: 100%;
}

body {
  font-family: 'Ubuntu', serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Hepta Slab', serif;
}

code, input {
  font-family: 'Source Code Pro', monospace;
}

/* input.textarea {
  background-image: url('/textareaBackground.png')
} */